$primary50: #e8f1ff;
$primary100: #d6e5ff;
$primary200: #b5ceff;
$primary400: #5a7cff;
$primary500: #354dff;
$primary600: #1219ff;
$primary700: hsl(239, 95%, 51%);
$primary800: #0a10bd;
$primary900: #131b9c;
$primary950: #0b0e5b;

$green100: #43fa43;
$green200: #3e923e;

$black50: #000;
$black100: #121212;

$white: #fff;
$gray50: #f7f7f7;
$gray100: #ededed;
$gray150: #eff0ec;
$gray200: #dfdfdf;
$gray300: #dfdfdf;
$gray400: #adadad;
$gray900: #3d3d3d;
